.Todo {
  &__list {
    margin-top: 4rem;
    display: flex;
  }
  &__item {
    overflow: hidden;
    margin: 1rem;
    display: flex;
    li {
      &.complete {
        background-color: #ccc;
        &::after {
          content: '';
          display: block;
          width: 120px;
          height: 2px;
          background-color: #000;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%,-50%);
        }
      }
      position: relative;
      list-style: none;
      background-color: #fff;
      padding: 1rem;
      width: 220px;
      text-align: center;
    }
    button {
      i {
        color: #fff;
      }
      &.complete {
        &.disabled {
          cursor: not-allowed;
        }
        background-color: #68edcb;
      }
      cursor: pointer;
      border: none;
      outline: none;
      padding: 0.5rem 1rem;
      background-color: #ff7b94;
    }
  }
}
