*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  background-image:linear-gradient(to right top, #57b7ff, #2cc1f5, #2ac9e4, #4eced0, #72d1bd);
}
